<!DOCTYPE html>
<html>
<head>
    <title>sales View</title>
</head>
<body>
    <h1>sales View</h1>
    <a href="/manager_view">Back to Manager View</a>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
  <title>Sales and Payments</title>
</head>
<body>
  <h1>Sales Data</h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Gross Sales</th>
      <th>Discounts</th>
      <th>Net Sales</th>
      <th>Tax</th>
    </tr>
    <% salesData.forEach(function(sale) { %>
      <tr>
        <td><%= sale.date %></td>
        <td><%= sale.gross_sales %></td>
        <td><%= sale.discounts %></td>
        <td><%= sale.net_sales %></td>
        <td><%= sale.tax %></td>
      </tr>
    <% }); %>
  </table>

  <h1>Payment Methods</h1>
  <table>
    <tr>
      <th>Method</th>
    </tr>
    <% paymentsData.forEach(function(payment) { %>
      <tr>
        <td><%= payment.method %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>

