<!DOCTYPE html>
<html>
<head>
    <title>sales View</title>
</head>
<body>
    <h1>sales View</h1>
    <a href="/manager_view">Back to Manager View</a>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 0 auto;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Sales Summary</h2>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gross Sales</td>
                <td><%= grossSales %></td>
            </tr>
            <tr>
                <td>Discounts</td>
                <td><%= discounts %></td>
            </tr>
            <tr>
                <td>Net Sales</td>
                <td><%= netSales %></td>
            </tr>
            <tr>
                <td>Tax</td>
                <td><%= tax %></td>
            </tr>
            <tr>
                <td>Credit Card</td>
                <td><%= creditCard %></td>
            </tr>
            <tr>
                <td>Debit</td>
                <td><%= debit %></td>
            </tr>
            <tr>
                <td>Cash</td>
                <td><%= cash %></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
